<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" [routerLink]="['/']">
      Angular Hybrid
    </a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/']">Home</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/album']">Album</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/pricing']">Pricing</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/checkout']">Checkout</a>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      Angular Hybrid
      <small class="d-block mb-3 text-muted">© 2020</small>
    </div>
    <div class="col-6 col-md">
      <h5>Home</h5>
    </div>
    <div class="col-6 col-md">
      <h5>Album</h5>
    </div>
    <div class="col-6 col-md">
      <h5>Pricing</h5>
    </div>
    <div class="col-6 col-md">
      <h5>Checkout</h5>
    </div>
  </div>
</footer>